.ContactForm {
  margin-top: 5vh;
}
.ContactForm h1 {
  text-align: center;
}
.Collapse {
  margin-bottom: 3%;
}
.CollapseBtn {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid lightgray;
  color: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
  margin-top: 16px;
}

.CollapseBtn:hover {
  background-color: #fafafa;
  border: 1px solid lightgray;
  color: black;
  transition: none;
}
.CollapseBtn:focus {
  background-color: #fafafa !important;
  color: black !important;
}
.CollapseBtn p {
  margin: 0;
  font-weight: 300;
}
.Loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}
.SubmitBox {
  display: flex;
  flex-direction: row;
  margin: 3% 0% 5% 0%;
  justify-content: space-between;
}
.ErrorMessage {
  color: red;
}
@media screen and (max-width: 750px) {
  .SubmitBtn {
    width: 100%;
  }
  .SubmitBox {
    flex-direction: column;
  }
}
